<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='custom.css') }}"
    />
    <title>News as Poetry</title>
  </head>

  <body>
    <header class="row">
      <img
        class="headerImage"
        src="https://cdn.glitch.global/1f15f464-cfd6-4e0e-b067-ed3c12dcbab1/profile-pic.png?v=1644072520480"
      />
      <div>
        <h1>News as Poetry from an A.I.</h1>
        <p>
          An A.I. creates a poem based on a headline from the New York Times.
          Can you guess the real headline?
        </p>
        <a
          href="https://www.instagram.com/news_as_poetry/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <button>Daily Poem on Insta</button>
        </a>
      </div>
    </header>
    <main></main>
  </body>

  <footer>
    News Headline:
    <i>Copyright (c) 2022 The New York Times Company. All Rights Reserved.</i>
    <br />
    Made with love by
    <a
      href="https://www.holgerkurtz.de"
      target="_blank"
      rel="noopener noreferrer"
      >holgerkurtz.de / Impressum / Datenschutz</a
    >
    <br />
    <a href="/archive"><button>See all Poems</button></a>
  </footer>
</html>
