<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <title>News as Poetry</title>
</head>

<body>
    <header class="row">
        <img class="headerImage"
            src="https://cdn.glitch.global/1f15f464-cfd6-4e0e-b067-ed3c12dcbab1/profile-pic.png?v=1644072520480">
        <div>
            <h1>News as Poetry from an A.I.</h1>
            <p>
                An A.I. creates 4 poems based on a headline from the New York Times' front page. Can you guess the
                headline?
            </p>
            <a href="https://www.instagram.com/news_as_poetry/" target="_blank" rel="noopener noreferrer">
                <button>Daily Poem on Insta</button>
            </a>
        </div>
    </header>
    <hr>
    <main>
        <div class="row">
            {% for ai_news in list_of_news %}
            <div class="card">
                <a id="linkToNYT" href="{{newest_news.get('url')}}" target="_blank" rel="noopener noreferrer">
                    <img class="card" src="{{ai_news.get('image_url')}}" alt="{{newest_news.get('title')}}">
                </a>
                <br>
                <a href="{{ai_news.get('image_url')}}" target="_blank" rel="noopener noreferrer">
                    <button>Share Image on Social Media</button></a>
            </div>
            {% endfor %}
        </div>
        </section>
        <hr>
        <section>
            <h2>
                Read the real article
            </h2>
            <blockquote>
                <p>
                    <a href="{{newest_news.get('url')}}" target="_blank" rel="noopener noreferrer">
                        <b>{{newest_news.get('title')}}</b>
                    </a>
                    <br>
                    {{newest_news.get('abstract')}}
                    <br>
                    – {{newest_news.get('byline')}}
                </p>
            </blockquote>
            <a href="https://twitter.com/intent/tweet?text={{newest_news.get('title')}}&url={{newest_news.get('url')}}"
                target="_blank" rel="noopener noreferrer">
                <button>Share NY Times article on Twitter</button>
            </a>

        </section>
        <style>
            .row {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                grid-template-rows: 1fr;
                grid-column-gap: 50px;
                grid-row-gap: 50px;
            }

            .headerImage {
                display: block;
                margin: auto;
                width: 30%;
            }

            hr {
                padding-bottom: 20px;
            }
        </style>
    </main>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script> -->
</body>

<footer>
    News Headline: <i>Copyright (c) 2022 The New York Times Company. All Rights Reserved.</i> <br>
    Made with love by <a href="https://www.holgerkurtz.de" target="_blank" rel="noopener noreferrer">holgerkurtz.de /
        Impressum / Datenschutz</a>
    <br>
    <a href="/archive"><button>See all Poems</button></a>
</footer>

</html>