<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='custom.css') }}"
    />
    <title>Poetry Archive</title>
  </head>

  <body>
    <a href="/"><button>Main Page</button></a>
    {% for headline in news_list %}
    <h2>Real Headline: <i>{{headline}}</i></h2>
    <div class="row">
      {% for ai_text in news_list.get(headline) %}
      <div class="card">
        <img
          src="{{ url_for('static', filename='')}}{{ai_text.get('image_url') }}"
          alt="{{ url_for('static', filename='')}}{{ai_text.get('image_url') }}"
        />
      </div>
      <div class="card">
        <p class="poem_text">{{ai_text.get('ai_text')}}</p>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </body>
  <footer>
    News Headline:
    <i>Copyright (c) 2022 The New York Times Company. All Rights Reserved.</i>
    <br />
    Made with love by
    <a
      href="https://www.holgerkurtz.de"
      target="_blank"
      rel="noopener noreferrer"
      >holgerkurtz.de / Impressum / Datenschutz</a
    >
  </footer>
</html>
