<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <title>News as Poems</title>
</head>

<body>
    <header>
        <h1>News as Poems</h1>
        <p>News are imporant, but Poems are importanter.</p>
    </header>


    <main>
        <section>
            <figure>
                <h2> {{newest_news.get('title')}} </h2>
                <blockquote>
                    {{news_poems}}
                </blockquote>
                <figcaption>
                    <a href="{{newest_news.get('url')}}">{{newest_news.get('byline')}}</a>
                </figcaption>
            </figure>
        </section>
        <section>
            <button>
                <a href="http://twitter.com/share?text={{news_poems}}&url=http://holgerkurtz.de&hashtags=NewsAsPoems"
                    target="_blank" rel="noopener noreferrer"> Share on Twitter</a>
            </button>
        </section>
    </main>

</body>

<footer>
    News: <i>Copyright (c) 2022 The New York Times Company. All Rights Reserved.</i> <br>
    Made with love by holgerkurtz.de
</footer>

</html>